header.header {
    height: 70px;
}

header.fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
}

h1.header__logo {
    font-size: 2rem;
    color: #f85555;
    flex: 1 1;
    font-weight: 700;
    padding: 14px 20px;
}

.header_nav {
    background-color: var(--white);
    border-bottom: 1px solid var(--light-grey);
}

ul.header_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.header_list li.header_title {
    width: 50%;
    list-style: none;
}

ul.header_list li.header_item {
    width: 16.66%;
    list-style: none;
    border-left: 1px solid var(--light-grey);
    text-align: center;
    justify-items: center;
}

ul.header_list li.header_item:hover {
    background-color: var(--light-grey);
    cursor: pointer;
}

ul.header_list li.active {
    background-color: var(--light-grey);
}

.icon {
    background: none;
    border: none;
    color: var(--light-grey);
    font-size: 1.4rem;
    line-height: 0;
    padding: 14px;
    text-align: center;
    width: 15%;
}

.cart-modal {
    position: fixed;
    right: -300px;
    top: 60px;
    bottom: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 300px;
    background: #fff;
    transition: .5s all;
    z-index: 9;
}

.cart-modal.open {
    right: 0;
}

@media (min-width: 992px) {
    .navbar nav .title {
        font-size: 2rem;
    }

    .navbar nav {
        border-bottom: 1px solid var(--light-grey);
    }

    .navbar {
        height: 70px;
    }

    .cart-modal {
        top: 70px;
    }

    .navbar nav .icon {
        border-left: 1px solid var(--light-grey);
    }
}