.filters {
    display: block;
    padding: 50px 20px 20px;
    width: 300px;
}

.filters .filter-item {
    overflow: hidden;
    transition: 1s all;
    max-height: 300px;
    margin-bottom: 10px;
}

.filters .filter-item .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    border-bottom: 2px solid var(--light-grey);
    font-size: 1.1rem;
    height: 40px;
    cursor: pointer;
    font-weight: 600;
}

.filters .filter-item .content {
    padding: 20px 0;
}

.filters .filter-item .price-filter label {
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.filters .filter-item .price-filter label span {
    width: 20%;
}

.filters .filter-item .price-filter label input {
    display: block;
    width: 80%;
    border: 1px solid var(--light-grey);
    border-radius: 3px;
    padding: 6px 10px;
    font-size: 1rem;
}

.filters .filter-item .price-filter button {
    background-color: var(--primary);
    padding: 8px 15px;
    color: var(--white);
    border-radius: 5px;
    display: block;
    margin: 25px 0 20px auto;
}

.filters .filter-item .category-filter {
    list-style: none;
}

.filters .filter-item .category-filter li {
    margin: 0 0 10px 20px;
}

.filters .filter-item .category-filter button {
    background: none;
}